// Animation duration
$anim-duration: 1.5s;
$anim-offset: 0.1s;

// Coffee drip info
$flow-delta: 4px;
$base-flow-width: 40px;
$increased-flow-width: $base-flow-width + $flow-delta;

$base-flow-x: 617.361px;
$increased-flow-x: $base-flow-x + $flow-delta/2;

$base-flow-opacity: 0.9;
$increased-flow-opacity: 1;

#svgBubbleLeftA circle {
    animation: bubbling $anim-duration infinite;
    -moz-animation: moz-bubbling $anim-duration infinite;
}

#svgBubbleRightA circle {
    animation: bubbling $anim-duration infinite;
    -moz-animation: moz-bubbling $anim-duration infinite;
    animation-delay: $anim-offset;
}
#svgBubbleLeftB circle {
    animation: bubbling $anim-duration infinite;
    -moz-animation: moz-bubbling $anim-duration infinite;
    animation-delay: 2 * $anim-offset;
}
#svgBubbleRightB circle {
    animation: bubbling $anim-duration infinite;
    -moz-animation: moz-bubbling $anim-duration infinite;
    animation-delay: 3 * $anim-offset;
}

#svgCoffeeDrip rect {
    animation: pouring (2*$anim-duration) infinite;
}

@keyframes bubbling {
    0% { r: 10px; }
    25% { r: 12px; }
    50% { r: 9px; }
    75% { r: 12px; }
    100% { r: 10px; }
}


@keyframes moz-bubbling {
    0% { transform: scale(1); }
    25% { transform: scale(1.01); }
    50% { transform: scale(1); }
    75% { transform: scale(1.01); }
    100% { transform: scale(1); }
}

@keyframes pouring {
    0% {
        width: $base-flow-width;
        x: $base-flow-x;
        opacity: $base-flow-opacity;
    }
    25% {
        width: $increased-flow-width;
        x: $increased-flow-x;
        opacity: $increased-flow-opacity ;
   }
   50% {
        width: $base-flow-width;
        x: $base-flow-x;
        opacity: $base-flow-opacity;
   }
   75% {
        width: $increased-flow-width;
        x:  $increased-flow-x;
        opacity: $increased-flow-opacity;
   }
   100% {
        width: $base-flow-width;
        x: $base-flow-x;
        opacity: $base-flow-opacity;
   }
}

